* {
    box-sizing: border-box;

  }
  
  .button{
    font-size: 10px;
    text-decoration: none;
    color:#000;
    border: #000 1px solid;
    padding: 10px 15px;
    border-radius:10px;
    margin-top: 15px;
  }
  
  .button:hover{
    background:rgb(3, 3, 3);
    color:#fff;

}

  .myflexboxRow {
    display: flex;
    flex-wrap: wrap;

  }
  
  
  .myflexboxColumn {
    flex: 20%;
    padding: 20px;

   
  }
  
  
  @media screen and (max-width: 600px) {
    .myflexboxRow {
      flex-direction: column;
    }
  }