
*{
    box-sizing: border-box;
}

body {
    background-color: rgb(197, 183, 183);
  }
  
.Row{
    display: flex;
    flex-wrap: wrap;
}

.Column{
    flex: 33%;
    padding: 20px;
}

@media screen and (max-width: 600px){
    .Row{
        flex-direction:column;
    }
}